
@font-face{
    font-family:"dyslexiafont";
    src:url("../font/dyslexfont.otf");
}

*{
    box-sizing: border-box;
    font-family:"dyslexiafont";
    font-size: 16px;
}

html{
    background-image: /* pixelised background for the whole page */
        linear-gradient(
            0deg,
            rgba(255,0,0,0.025) 12.50%, /* each pair of these is a gradient strip */
            rgba(0,255,0,0.025) 12.50%, /* first is colour, then width of the total bar */
            rgba(0,255,0,0.025) 25%, /* takes some experimentation to undstand the width percentage... */
            rgba(0,0,255,0.025) 25%, /* by having each pair start and end the same, they're not gradient, but strips of colour */
            rgba(0,0,255,0.025) 37.50%, /* the pairs don't match up as you'd expect either, it can be pretty finnicky */
            rgba(255,255,255,0.025) 37.50%, 
            rgba(255,255,255,0.025) 50%, 
            rgba(255,0,0,0.025) 50%, 
            rgba(255,0,0,0.025) 62.50%, 
            rgba(0,255,0,0.025) 62.50%, 
            rgba(0,255,0,0.025) 75%, 
            rgba(0,0,255,0.025) 75%, 
            rgba(0,0,255,0.025) 87.50%, 
            rgba(255,255,255,0.025) 87.50%, 
            rgba(255,255,255,0.025) 100%),
        linear-gradient(
            90deg, /* this counts as a seperate image, despite not even being an image. It's rotated 90 degrees and put on top of the other */
            rgba(255,0,0,0.05) 12.50%, 
            rgba(0,255,0,0.05) 12.50%, 
            rgba(0,255,0,0.05) 25%, 
            rgba(0,0,255,0.05) 25%, 
            rgba(0,0,255,0.05) 37.50%, 
            rgba(0,0,0,0.05) 37.50%, 
            rgba(0,0,0,0.05) 50%, 
            rgba(255,0,0,0.05) 50%, 
            rgba(255,0,0,0.05) 62.50%, 
            rgba(0,255,0,0.05) 62.50%, 
            rgba(0,255,0,0.05) 75%, 
            rgba(0,0,255,0.05) 75%, 
            rgba(0,0,255,0.05) 87.50%, 
            rgba(0,0,0,0.05) 87.50%, 
            rgba(0,0,0,0.05) 100%);
        background-size: 90.00px 90.00px; /* this is the scale for both background 'images', changing this affects the resolution of the grid */
}

body{
    margin:1% 8%; /* body margins so text doesn't go too near the borders */
}

#titlebox{ /* a box used for the title of the page, which should use h1 */
    background-image:
        linear-gradient( /* using the same method for the background, there are two gradients that are overlapping */
            to right,
            rgba(60, 0, 120, 0), 
            rgba(60, 0, 120, 0.25), 
            rgba(60, 0, 120, 0.25), 
            rgba(60, 0, 120, 0)),
        linear-gradient(
            to bottom,
            rgba(255,255,255,0),
            rgba(255,255,255,0.5), 
            rgba(255,255,255,0.5),
            rgba(255,255,255,0));
    background-blend-mode:screen; /* this time, the background is using the screen blend mode so that the second image interacts differently with the first, in a hard to explain kind of way */
    padding-top: 20px;
    padding-bottom: 5px;
    margin:5px;
    display:block;
    line-height:12px;
}

h1{
    color:rgb(60, 0, 120); /* the text is my favourite colour, roughly */
    text-align:center; /* centrally aligned, it generally looks nice, especially with this backdrop */
    mix-blend-mode:multiply; /* the colour is set to multiply against the background of the titlebox, just for fun */
    margin:2px;
    font-size:30px;
}

h6{
    color:rgb(60, 0, 120);
    text-align:center;
    mix-blend-mode:multiply;
    margin:2px;
    font-size:10px;
}

p{
    isolation: isolate;
    background-image:(
        linear-gradient(to right,
            rgba(60,0,120,1),
            rgba(60,0,120,0)
        )
    );
    padding:5px;
}

.question{
    background-color:rgba(255,255,255,0.9);
    background-image:
        linear-gradient(to right,
            rgba(60,0,120,0.025),
            rgba(60,0,120,0),
            rgba(60,0,120,0),
            rgba(60,0,120,0.025)),
        linear-gradient(to bottom,
            rgba(60,0,120,0.025),
            rgba(60,0,120,0),
            rgba(60,0,120,0),
            rgba(60,0,120,0.025));
    margin: 2%;
    padding-left: 1%;
    padding-right: 1%;
    background-blend-mode:soft-light;
}

.content{
    background-color:rgba(255,255,255,0.8);
    background-image:
        linear-gradient(to right,
            rgba(60,0,120,0.05),
            rgba(60,0,120,0),
            rgba(60,0,120,0),
            rgba(60,0,120,0.05)),
        linear-gradient(to bottom,
            rgba(60,0,120,0.05),
            rgba(60,0,120,0),
            rgba(60,0,120,0),
            rgba(60,0,120,0.05));
            padding: 1%;
}

.buttonrow{
    display:flex;
    flex-direction:row;
    justify-content:space-between;
    flex:8;
}

.unitselect{
    display:flex;
    flex-direction:row;
    justify-content:space-between;
    flex:10;
}


.flatbutton{
    display:block;
    flex:1;
    background-color:rgba(80,60,120,0.25);
    border: 2px solid white;
    color:black;
    text-align:center;
    text-decoration-line: none;
    mix-blend-mode:multiply;
}

.current{
    border: 2px solid rgb(60, 0, 120);
}

.flatbutton:hover{
    background-color:rgba(60,0,120,0.5);
}

sup{
    font-size:8px;
}

.secretbackground{
    background-image: /* pixelised background for the whole page */
        linear-gradient(
            45deg,
            rgba(255,0,0,0.025) 12.50%, /* each pair of these is a gradient strip */
            rgba(0,255,0,0.025) 12.50%, /* first is colour, then width of the total bar */
            rgba(0,255,0,0.025) 25%, /* takes some experimentation to undstand the width percentage... */
            rgba(0,0,255,0.025) 25%, /* by having each pair start and end the same, they're not gradient, but strips of colour */
            rgba(0,0,255,0.025) 37.50%, /* the pairs don't match up as you'd expect either, it can be pretty finnicky */
            rgba(255,255,255,0.025) 37.50%, 
            rgba(255,255,255,0.025) 50%, 
            rgba(255,0,0,0.025) 50%, 
            rgba(255,0,0,0.025) 62.50%, 
            rgba(0,255,0,0.025) 62.50%, 
            rgba(0,255,0,0.025) 75%, 
            rgba(0,0,255,0.025) 75%, 
            rgba(0,0,255,0.025) 87.50%, 
            rgba(255,255,255,0.025) 87.50%, 
            rgba(255,255,255,0.025) 100%),
        linear-gradient(
            135deg, /* this counts as a seperate image, despite not even being an image. It's rotated 90 degrees and put on top of the other */
            rgba(255,0,0,0.05) 12.50%, 
            rgba(0,255,0,0.05) 12.50%, 
            rgba(0,255,0,0.05) 25%, 
            rgba(0,0,255,0.05) 25%, 
            rgba(0,0,255,0.05) 37.50%, 
            rgba(0,0,0,0.05) 37.50%, 
            rgba(0,0,0,0.05) 50%, 
            rgba(255,0,0,0.05) 50%, 
            rgba(255,0,0,0.05) 62.50%, 
            rgba(0,255,0,0.05) 62.50%, 
            rgba(0,255,0,0.05) 75%, 
            rgba(0,0,255,0.05) 75%, 
            rgba(0,0,255,0.05) 87.50%, 
            rgba(0,0,0,0.05) 87.50%, 
            rgba(0,0,0,0.05) 100%);
        background-size: 90.00px 90.00px; /* this is the scale for both background 'images', changing this affects the resolution of the grid */
}

.secretimage{
    display:block;
    width:75%;
    height:auto;
    margin-left:auto;
    margin-right:auto;
    border: 4px solid rgba(60, 0, 120,0.5);
    
}