html{
    background-color: black;
}

*{
    color: #ccc;
    margin:0;
    padding:0;
    border:0;
}
html, body{
    text-align:center;
   
    height:100vh;
}

input[type=text]{
    width:50%;
    box-sizing: border-box;
    height:40px;
    border:0;
    outline: 0;
    text-align: center;
    background-color:#222;
    font-size:20pt;
}

input[type=radio]{
    display:none;
}

input[type=radio]+label{
    background-color:#222;
    padding:5px;
    font-size:20px;
}

input[type=radio]:checked+label{
    background-color: darkgreen;
}

#submit{
    background-color: #222;
    border:0;
    height:40px;
    width: 50%;
    font-size:20px;
}

#results{
    color:white;
    font-size: 30pt;
}

.row{
    padding:5px;
    display:flex;
    justify-content: center;
}

.container{
    align-items: center;
    justify-content:center;
    height:100vh;
}