html{
    background-color:black;
    background-image:linear-gradient(
        to right,
        #4360,
        #436f 4vw,
        #4360 0px,
        #4360 96vw,
        #4360 0px,
        #436f 4vw,
        #4360
    );
}

*{
    color:#cbd9;
}

h1{
    text-align: center;
}

nav{
    margin:5px 5vw 5px 5vw;
    display:flex;
    flex-wrap: wrap;
    width:90%;
    background-image: linear-gradient(
        to bottom,
        #4369,
        #4360,
        #4369
    ),
    linear-gradient(
        to right,
        #4369,
        #4360,
        #4369
    );
    border-color:#4369;
}

nav :hover, nav :focus, nav :active{
    color:#cbdf
}

.pagelink{
    flex:1;
    text-align:center;
    border:5px #cbd9 solid;
    text-decoration:none;
    color:#cbd9;
}

.central{
    text-align:justify;
    margin: 20px 5vw 50px 5vw;
    padding: 20px 5vw 20px 5vw;
    border:5px solid #cbd9;
    background-image: linear-gradient(
        to bottom,
        #4369,
        #4360,
        #4360,
        #4360,
        #4360,
        #4360,
        #4369
    ),
    linear-gradient(
        to right,
        #4369,
        #4360,
        #4360,
        #4360,
        #4360,
        #4360,
        #4369
    );
    background-blend-mode: soft-light;
}

@media only screen and (max-width:1200px){
    .pagelink {
        flex:20%
    }
}

@media only screen and (max-width:750px){
    .pagelink{
        flex:40%
    }
}

@media only screen and (max-width:500px){
    .pagelink{
        flex:100%
    }
}